<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://blog.codedimension.com.br/images/posts/o-que-%C3%A9-angular.jpg"  height="200px" srcset="">
    </div>


    <div class="big-card__tittle">
        <h1><a href="#"> Saiu a nova versão do Angular v21</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            </a>
        </p>
    </div>

</div>
