.container__big-card {
  
    margin-left: 20px;
    margin-right: 10px;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.big-card__tittle > h1 {
    font-size: 20px;
    margin-top: 15px;
}

.big-card__description {
    margin-top: 20px;
}

.big-card__description > p > a {
    color: grey;

}

.big-card__photo > img {
    width: 100%;
    min-width: 400px;
}